body {
	margin: 0;
	font-family: 'Merriweather', serif;	
	background-color: #eceff1;
}

h3 {
	padding: 40px;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style-type: none;
}

a:hover {
	color: #00695c;
}

.social img {
	display: inline-block;
	position: relative;
    vertical-align: middle;
	width: 30px;
	height: 30px;
}

.social {
	height: 100%;
    vertical-align: middle;
    display: block;
}
.social a {
	height: 100%;
    vertical-align: middle;
    display: inline-block;
}


.profile {
	display: block;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin: auto;
	margin-top: 20px;
}

progress, progress[role] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-size: auto;
  height: 20px;
  width: 80%;
}

.footer {
	display: block;
	margin: 40px 40px 40px 40px;
}

.footer p {
	display: block;
	position: relative;
	margin: auto;
}

.interests {
	padding: 0 20px 20px 20px;
}

.skill::-webkit-progress-value {
  background: #81c784;
}

.skill::-moz-progress-bar {
  background: #81c784;
}

.timeline {
	margin: 20px;
	padding: 1px 20px;
	border-left: 2px solid black;
}

.timeline h4 {
	padding: 17px 17px 0px 17px;
}

.timeline p {
	padding: 0px 17px 17px 17px;
}

.timeline li {
	margin-bottom: 20px;
	background-color: #cfd8dc;
	border-radius: 6px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.12), 0 4.5px 4.5px rgba(0, 0, 0, 0.08)
}

.wrapper-logo {
	display: block;
	margin: auto;
	width: 50%;
}

.content {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.wrapper-main {
	position: relative;
	display: block;
	float: left;
	width: 65%
}

.wrapper-side {
	position: relative;
	display: block;
	background-color: #263238;
	color: white;
	height: 100%;
	float: right;
	width: 35%;
}

path {
	stroke: #000000;
	fill: #000000;
	stroke-dasharray: 800;
	opacity: 10;
	animation: logo 8s linear infinite;
	animation-delay: 1s;
}

@keyframes logo {
	0% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 800;
	}
	15% {
		opacity: 10;
		fill: none;
		stroke-dashoffset: 600;
	}
	30% {
		fill: rgba(0, 0, 0, 0);
	}
	40% {
		fill: rgba(0, 0, 0, 1);
	}
	50% {
		opacity: 10;
		stroke-dashoffset: 0;
	}
	60% {
		fill: rgba(0, 0, 0, 1);
	}
	70% {
		fill: rgba(0, 0, 0, 0);
	}
	85% {
		opacity: 10;
		fill: none;
		stroke-dashoffset: 600;
	}
	100% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 800;
	}
}

@media only screen and (max-width: 768px) {
	.wrapper-logo {
	display: block;
	width: 100%;
	}

	.content {
		display: block;
		width: 100%;
		margin: auto;
	}

	.wrapper-main {
		display: block;
		width: 100%
	}

	.wrapper-side {
		display: block;
		width: 100%;
	}
}
