body {
	margin: 0;
}

img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

.wrapper-logo {
	display: block;
	width: 30%;
}

.content {
	display: block;
	width: 100%;
	height: 100%;
	margin: auto;
}

.wrapper-main {
	display: block;
	float: left;
	width: 65%
}

.wrapper-side {
	display: block;
	background-color: #263238;
	color: white;
	height: 100vh;
	float: right;
	width: 35%;
}

path {
	stroke: #fff;
	fill: #fff;
	stroke-dasharray: 800;
	opacity: 10;
	animation: logo 8s linear infinite;
	animation-delay: 1s;
}

@keyframes logo {
	0% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 800;
	}
	15% {
		opacity: 10;
		fill: none;
		stroke-dashoffset: 600;
	}
	30% {
		fill: rgba(0, 0, 0, 0);
	}
	40% {
		fill: rgba(0, 0, 0, 1);
	}
	50% {
		opacity: 10;
		stroke-dashoffset: 0;
	}
	60% {
		fill: rgba(0, 0, 0, 1);
	}
	70% {
		fill: rgba(0, 0, 0, 0);
	}
	85% {
		opacity: 10;
		fill: none;
		stroke-dashoffset: 600;
	}
	100% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 800;
	}
}

@media only screen and (max-width: 768px) {
	.wrapper-logo {
	display: block;
	width: 100%;
	}

	.content {
		display: block;
		width: 100%;
		margin: auto;
	}

	.wrapper-main {
		display: block;
		width: 100%
	}

	.wrapper-side {
		display: block;
		width: 100%;
	}
}
